@import '/styles/variables';

.actions {
  display: flex;
  align-items: center;
  position: relative;
  width: 100px;
  position: relative;

  input {
    padding: 0.8rem 1.3rem;
    border-radius: 5.9rem;
    width: 100%;
    border: none;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: inherit;
    }
  }

  i {
    position: absolute;
    right: 15%;
  }
  .container {
    position: absolute;
    background-color: $primary-bg-color;
    overflow: auto;
    width: 200px;
    border-radius: 0 0 2rem 2rem;
    max-height: 250px;
    font-size: 1.4rem;
    z-index: 1;
    top: 101%;
    left: 7%;
    animation: searchItems 200ms ease-in;

    ul {
      list-style: none;

      li {
        padding: 1.2rem 2rem;
        cursor: default;
        font-weight: $font-weight-medium;

        &:hover {
          color: $white-font-color;
          background-color: $bg-dark;
        }
      }
    }
  }
}

@media (min-width: 501px) {
  .actions {
    width: 150px;

    i {
      right: 10%;
    }
  }
}

@media (min-width: 701px) {
  .actions {
    width: 200px;

    input {
      font-size: 1.4rem;
      padding: 1.7rem 2.2rem;
    }

    i {
      font-size: 1.4rem;
    }
  }
}

@media (min-width: 1023px) {
  .actions {
    width: 395px;

    input {
      font-size: 1.8rem;
      padding: 2.3rem 2.8rem;
      display: inline-block;
    }

    i {
      font-size: 1.8rem;
      right: 8%;
    }

    .container {
      width: 339px;
      max-height: 300px;
      font-size: 1.8rem;
      top: 101%;
      left: 7%;

      li {
        padding: 1.8rem 3rem;
      }
    }
  }
}

@keyframes searchItems {
  0% {
    opacity: 0;
    max-height: 0;
  }

  30% {
    opacity: 0.3;
  }

  60% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
