@import '/styles/variables';

.actions {
  display: flex;
  align-items: center;
  position: relative;
  width: 135px;

  input {
    padding: 0.8rem 1.3rem;
    border-radius: 5.9rem;
    width: 100%;
    border: none;
    font-size: 1.6rem;

    &::placeholder {
      color: inherit;
      font-size: 1.1rem;
    }

    &:focus {
      outline: none;
    }
  }

  i {
    position: absolute;
    right: 11%;
  }
  .container {
    position: absolute;
    background-color: $primary-bg-color;
    border-radius: 1rem;
    scrollbar-width: thin;
    width: 135px;
    max-height: 190px;
    font-size: 1.1rem;
    overflow-y: scroll;
    z-index: 1;
    top: 101%;
    animation: searchItems 200ms ease-in;

    &::-webkit-scrollbar {
      width: 0.8rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #bdbdbd;
      border-radius: 2rem;
      height: 6rem;
    }

    ul {
      list-style: none;

      li {
        padding: 1.1rem 1.3rem;
        cursor: default;
        font-weight: $font-weight-medium;

        &:hover {
          background-color: rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
}

@media (min-width: 501px) {
  .actions {
    width: 150px;

    input {
      &::placeholder {
        font-size: 1.2rem;
      }
    }

    .container {
      width: 150px;
      font-size: 1.2rem;
    }
    i {
      right: 10%;
    }
  }
}

@media (min-width: 701px) {
  .actions {
    width: 200px;

    input {
      padding: 1.7rem 2.2rem;

      &::placeholder {
        font-size: 1.4rem;
      }
    }

    .container {
      width: 200px;
      font-size: 1.4rem;
    }

    i {
      font-size: 1.4rem;
    }
  }
}

@media (min-width: 1023px) {
  .actions {
    width: 395px;

    input {
      font-size: 1.8rem;
      padding: 2.3rem 2.8rem;
      display: inline-block;

      &::placeholder {
        font-size: 1.8rem;
      }
    }

    i {
      font-size: 1.8rem;
      right: 8%;
    }

    .container {
      width: 375px;
      max-height: 220px;
      font-size: 1.8rem;
      top: 102%;
      left: 2.8%;

      li {
        padding: 1.8rem 3rem;
      }
    }
  }
}

@keyframes searchItems {
  0% {
    opacity: 0;
    max-height: 0;
  }

  30% {
    opacity: 0.3;
  }

  60% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
