.breed_rating {
  display: flex;

  div {
    margin-right: 0.2rem;
  }

  .filled {
    width: 25px;
    height: 6px;
    background-color: #544439;
    border-radius: 8px;
  }

  .empty {
    width: 25px;
    height: 6px;
    background-color: #e0e0e0;
    border-radius: 8px;
  }
}

@media (min-width: 701px) {
  .breed_rating {
    div {
      margin-right: 0.3rem;
    }

    .filled {
      width: 40px;
      height: 8px;
    }

    .empty {
      width: 40px;
      height: 8px;
    }
  }
}

@media (min-width: 1023px) {
  .breed_rating {
    div {
      margin-right: 0.8rem;
    }

    .filled {
      width: 50px;
      height: 11px;
    }

    .empty {
      width: 50px;
      height: 11px;
    }
  }
}
