.img_wrapper {
  max-width: 230px;
  max-height: 230px;
  text-align: center;
  margin: 0 auto;

  img {
    border-radius: 2.4rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 1023px) {
  .img_wrapper {
    max-width: 270px;
    max-height: 270px;
  }
}
