$primary-bg-color: #fff;
$secondary-bg-color: #e3e1dc;
$bg-dark: #000;

$white-font-color: #fff;
$dark-font-color: #291507;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
